
java_based_solutions/.metadata/.lock
java_based_solutions/.metadata/.log
java_based_solutions/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
java_based_solutions/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
java_based_solutions/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
java_based_solutions/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
java_based_solutions/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
java_based_solutions/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
java_based_solutions/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
java_based_solutions/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
java_based_solutions/.metadata/.plugins/org.eclipse.ui.intro/introstate
java_based_solutions/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
java_based_solutions/.metadata/version.ini
